#home.section
  background: url('../images/helloBackground.jpg') no-repeat fixed 39% 25%

  & > .gradient
    background: linear-gradient(#ffffff29, #41afaa38, #82b0c554)
    background-size: 200% 200%
    animation: GradientPosition 3s ease infinite

  .container 
    .content hr
      min-width: 17.5rem
    
    .name
      font-size: 2rem
