#home.section
  background: url('../images/helloBackground.jpg') no-repeat fixed 39% 25%

  & > .gradient
    background: linear-gradient(rgba(255, 255, 255, 0.1607843137254902), rgba(65, 175, 170, 0.2196078431372549), rgba(130, 176, 197, 0.32941176470588235))
    background-size: 200% 200%
    animation: GradientPosition 3s ease infinite

  .container 
    .content hr
      min-width: 17.5rem
    
    .name
      font-size: 2rem
